<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" class="v3-page">
<head>
  {{ partial "head.html" . }}
  {{ if .IsHome }}{{ partial "v3-head.html" . }}{{ end }}
</head>
<body{{ if .IsHome }} class="v3-home"{{ else }} class="v3-site"{{ end }}>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ partial "v3-navigation.html" . }}
  {{ block "body" . }}{{ end }}
  {{ partial "v3-release-dialog.html" . }}
  {{ partial "v3-term-cmd.html" . }}
  {{ partial "consent.html" . }}
  {{ partial "analytics.html" . }}
</body>
</html>
